<aside x-data>
  <template x-teleport="body">
    <div
      x-show="$store.modals.leftDrawer.open"
      @keydown.escape.prevent.stop="$store.modals.close('leftDrawer')"
      @click="$store.modals.close('leftDrawer')"
      class="fixed inset-0 z-110"
      data-color-scheme="{{ settings.drawers_color_scheme }}"
      id="modals-leftDrawer"
      @left-drawer-is-open.window="setTimeout(() => { $focus.first() }, 120)"
    >
      <div
        x-show="$store.modals.leftDrawer.open"
        x-transition.opacity.duration.500ms
        class='fixed inset-0 {{ settings.modals_overlay_background_color }} {% if settings.modals_overlay_saturate %}backdrop-saturate-0{% endif %}'
        style="--tw-bg-opacity: {{ settings.modals_overlay_opacity | divided_by: 100.0 }};"><!-- Overlay --></div>
      <div
        @click.stop
        x-show="$store.modals.leftDrawer.open"
        x-transition:enter="transition ease-energetic duration-[350ms]"
        x-transition:enter-start="-translate-x-full"
        x-transition:enter-end="translate-x-0"
        x-transition:leave="transition ease-energetic duration-[350ms]"
        x-transition:leave-start="translate-x-0"
        x-transition:leave-end="-translate-x-full"
        x-trap.noscroll.inert="$store.modals.leftDrawer.open"
        class="relative w-11/12 .py-8 .px-2 lg:max-w-xl h-full bg-scheme-background text-scheme-text mr-auto  drawer-transition-host"
        id="left-drawer-slot"
        role="dialog"
        aria-modal="true"
        :aria-label="getModalLabel('leftDrawer', $el)"
        tabindex="-1"
      >
        <!-- Modal content is teleported here -->
      </div>
    </div>
  </template>
</aside>
