<section class="py-section-vertical-spacing bg-scheme-background text-scheme-text">
  <div class="max-w-site mx-auto px-5 lg:px-10 text-center flex min-h-[55vh]">
    <div class="m-auto">
      <h2 class="font-heading text-heading-feature break-words">{{ 'general.404.title' | t }}</h2>
      <p class="mt-4">{{ 'general.404.subtext_html' | t }}</p>
      <a class="mt-8 btn" href="{{ routes.all_products_collection_url }}">{{ 'cart.general.continue_shopping' | t }}</a>
    </div>
  </div>
</section>
