{%- render 'text-columns' with section -%}
{% schema %}
{
  "name": "Text columns",
  "settings": [
    {
      "type": "range",
      "id": "desktop_columns",
      "min": 1,
      "max": 5,
      "step": 1,
      "label": "Desktop columns",
      "default": 3
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-right",
          "label": "Right"
        }
      ],
      "default": "text-left"
    },
    {
      "type": "range",
      "id": "max_width_of_icons",
      "min": 50,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "Max width of icons",
      "default": 50
    },
    {
      "type": "checkbox",
      "id": "show_top_border",
      "label": "Show top border",
      "default": false
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme_1",
      "label": "Color scheme"
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "space_above",
      "min": 0,
      "max": 2,
      "step": 0.5,
      "unit": "x",
      "label": "Above",
      "default": 1
    },
    {
      "type": "range",
      "id": "space_below",
      "min": 0,
      "max": 2,
      "step": 0.5,
      "unit": "x",
      "label": "Below",
      "default": 1
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Column",
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "label": "Icon",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "bag",
              "label": "Bag"
            },
            {
              "value": "basket",
              "label": "Basket"
            },
            {
              "value": "box",
              "label": "Box"
            },
            {
              "value": "chat",
              "label": "Chat"
            },
            {
              "value": "checkmark",
              "label": "Checkmark"
            },
            {
              "value": "clock",
              "label": "Clock"
            },
            {
              "value": "coathanger",
              "label": "Coathanger"
            },
            {
              "value": "cog",
              "label": "Cog"
            },
            {
              "value": "dryer",
              "label": "Dryer"
            },
            {
              "value": "emoji-grin",
              "label": "Emoji Grin"
            },
            {
              "value": "eye",
              "label": "Eye"
            },
            {
              "value": "flag",
              "label": "Flag"
            },
            {
              "value": "gift",
              "label": "Gift"
            },
            {
              "value": "globe",
              "label": "Globe"
            },
            {
              "value": "heart",
              "label": "Heart"
            },
            {
              "value": "house",
              "label": "House"
            },
            {
              "value": "iron",
              "label": "Iron"
            },
            {
              "value": "leaf",
              "label": "Leaf"
            },
            {
              "value": "light-bulb",
              "label": "Light Bulb"
            },
            {
              "value": "lightning-bolt",
              "label": "Lightning Bolt"
            },
            {
              "value": "like",
              "label": "Like"
            },
            {
              "value": "lock",
              "label": "Lock"
            },
            {
              "value": "map-pin",
              "label": "Map Pin"
            },
            {
              "value": "medal",
              "label": "Medal"
            },
            {
              "value": "notepad",
              "label": "Notepad"
            },
            {
              "value": "paint-palette",
              "label": "Paint Palette"
            },
            {
              "value": "pants",
              "label": "Pants"
            },
            {
              "value": "person",
              "label": "Person"
            },
            {
              "value": "phone",
              "label": "Phone"
            },
            {
              "value": "plane",
              "label": "Plane"
            },
            {
              "value": "question-circle",
              "label": "Question Circle"
            },
            {
              "value": "recycle",
              "label": "Recycle"
            },
            {
              "value": "refresh-arrow",
              "label": "Refresh Arrow"
            },
            {
              "value": "ruler",
              "label": "Ruler"
            },
            {
              "value": "safety-pin",
              "label": "Safety Pin"
            },
            {
              "value": "shield",
              "label": "Shield"
            },
            {
              "value": "ship",
              "label": "Ship"
            },
            {
              "value": "shop",
              "label": "Shop"
            },
            {
              "value": "sneaker",
              "label": "Sneaker"
            },
            {
              "value": "star",
              "label": "Star"
            },
            {
              "value": "t-shirt",
              "label": "T-Shirt"
            },
            {
              "value": "tag",
              "label": "Tag"
            },
            {
              "value": "trophy",
              "label": "Trophy"
            },
            {
              "value": "truck-with-clock",
              "label": "Truck with Clock"
            },
            {
              "value": "truck",
              "label": "Truck"
            },
            {
              "value": "wallet",
              "label": "Wallet"
            },
            {
              "value": "washing-machine",
              "label": "Washing Machine"
            }
          ],
          "default": "none"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Share blog posts, products, or promotions with your customers. Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.</p>"
        },
        {
          "type": "header",
          "content": "Call to action"
        },
        {
          "type": "url",
          "id": "cta_link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "cta_label",
          "label": "Label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Text columns",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    },
    {
      "name": "Text columns with icons",
      "settings": {
        "desktop_columns": 5,
        "text_alignment": "text-center",
        "max_width_of_icons": 80
      },
      "blocks": [
        {
          "type": "column",
          "settings": {
            "icon": "leaf"
          }
        },
        {
          "type": "column",
          "settings": {
            "icon": "globe"
          }
        },
        {
          "type": "column",
          "settings": {
            "icon": "shop"
          }
        },
        {
          "type": "column",
          "settings": {
            "icon": "truck"
          }
        },
        {
          "type": "column",
          "settings": {
            "icon": "lightning-bolt"
          }
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": [
      "aside",
      "header",
      "footer",
      "custom.hero"
    ]
  }
}
{% endschema %}
